[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asyncio = "*"
asyncpg = "*"
pyyaml = "*"
asyncio-mqtt = "*"
ujson = "*"
aiohttp = "*"
geopy = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.8"
