[Unit]
Description=Pangote happy cows tracker socket
PartOf=cows@.service

[Socket]
ListenStream=/tmp/cowtracker_1.sock
SocketUser=ubuntu

[Install]
WantedBy=sockets.target
